/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 60%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.

div.clearfix {
  text-align: justify;
}


.periodical {
  font-size: 14px;
}

.author {
  font-size: 14px;
}

h5.title {
  font-size: 1.1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0.2rem;
  font-family: "Roboto Slab", "Times New Roman", serif;
}

.publications {
  h2 {
    font-size: 1.5rem;
  }
}

h1.post-title {
  font-family: "Roboto Slab", "Times New Roman", serif;
  color: #3c4858;

  span {
    color: #3c4858;
  }
}

div.address {
  margin-block-start: 0.3rem;
  margin-block-end: 0.3rem;
}

#progress {
  height: 3px;
}